footer {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 2.25rem  !important;
  min-height: 60px;
  background-color: gray;
  flex-wrap: wrap;
  box-shadow: 0px -10px 10px -3px rgb(50 50 50 / 0.15);
  
}

footer section {
  margin: 0px 10px;
}


