.FooterContactsListItems ul {
  display:inline-flex;
  flex-direction: row;
}


.FooterContactsListItems li {
  display:inline-flex;
  flex-direction: column;
  margin: 0 10px;
}

.FooterContactsListItems img:hover {
  box-shadow: var(--box-shadow-4);
}