.ReservationForm * { 
    text-align: center; 
}

label {
    color: var(--color-primary);
    font-family: Markazi Text, serif;
    font-size: 22px;
    font-weight: bold;
}

label::before {
    content: " * ";
    color: red;
}


.form-control input {
    width: 250px;
}

.form-control select {
    width: 250px;
}
